*~
*.o
*.service
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
debian/changelog
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/gpi_send/gpi_send
src/gpioscan/gpioscan
